:root {
  --gap: 0.25rem;
  --size: 50px;

  --dark: #4b6584;

  --btn-color: #d1d8e0;
  --btn-hover: #aaa;
  --op-color: #bbb;
  --op-hover: #999;

  --num-color: #45aaf2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark);
}

.calculator {
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: calc(var(--gap) * 3);
}

.display {
  border: none;
  width: 100%;
  padding: calc(var(--gap) * 4);
  font-size: 36px;
  text-align: right;
  display: grid;
  overflow: hidden;
  grid-template-rows: 30px minmax(50px 500px);
}

.display > div:nth-of-type(1) {
  background-color: blue;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
}

.current {
  background-color: red;
}

.btns {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, var(--size));
  gap: var(--gap);
  padding: var(--gap);
}

.btn {
  background-color: var(--btn-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 150ms linear;
}

.btn:hover {
  background-color: var(--btn-hover);
}

.operation {
  background-color: var(--op-color);
}

.op:hover {
  background-color: var(--op-hover);
}

.num {
  background-color: var(--num-color);
}

#nine {
  grid-area: 2 / 4;
}

#eight {
  grid-area: 2 / 3;
}

#seven {
  grid-area: 2 / 2;
}

#six {
  grid-area: 3 / 4;
}

#five {
  grid-area: 3 / 3;
}

#four {
  grid-area: 3 / 2;
}

#three {
  grid-area: 4 / 4;
}

#two {
  grid-area: 4 / 3;
}

#one {
  grid-area: 4 / 2;
}

#zero {
  grid-area: 5 / 3;
}

#equals {
  grid-area: 5 / 5;
}

#add {
  grid-area: 4 / 5;
}

#sub {
  grid-area: 3 / 5;
}

#mult {
  grid-area: 2 / 5;
}

#div {
  grid-area: 1 / 5;
}

#delete {
  grid-area: 1 / 4;
}

#clear-entry {
  grid-area: 1 / 3;
}

#clear {
  grid-area: 1 / 2;
}

#point {
  grid-area: 5 / 4;
}

#inv {
  grid-area: 5 / 2;
}
