:root {
  --gap: 0.25rem;
  --size: 50px;

  --dark: #4b6584;

  --btn-color: #d1d8e0;
  --btn-hover: #aaa;
  --op-color: #bbb;
  --op-hover: #999;

  --num-color: #45aaf2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark);
}

.calculator {
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  display: flex;
  flex-direction: column;
}

.display {
  border: none;
  width: 100%;
  font-size: 36px;
  text-align: right;
  display: grid;
  overflow: hidden;
  grid-template-rows: 30px 50px;
}

.previous {
  background-color: blue;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
}

.current {
}

button {
  outline: none;
  border: none;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, var(--size));
  gap: var(--gap);
  margin: 0 var(--gap);
}

.functions {
  /* display: flex;
  flex-direction: column; */
  gap: var(--gap);
  display: grid;
}

.btn {
  background-color: var(--btn-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms linear;
}

.btn:hover {
  background-color: var(--btn-hover);
}

.operation {
  background-color: var(--op-color);
}

.op:hover {
  background-color: var(--op-hover);
}

.num {
  background-color: var(--num-color);
}
